#pokeContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#pokeContTit{
    text-align: center;
}

#pokeCard{
    width: 200px;
    margin: 1%;
}